@font-face {
    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body, html {height: 100%}
  body {
   background: url("images/panda.png");
 

}

.imgcenter {
  text-align: center;
}

#test {
  border-radius: 60%;
  border: 5px solid #d16666;

}

.description {
  border: 1px solid black;
  font-family: 'robotoregular', Times, sans-serif;
  color: #d16666;
  width: 30%;
  margin: auto;
  background-color: rgba(200, 200, 200, 0.6);
  padding-left: 25px;

}


#pinlogo, #instalogo, #youlogo {
  height: 50px;
  padding-left: 185px;
  padding-right: 185px;
  border-radius: 60%;

}

.links {
  text-align: center;

}

.menu li {
  background-color: rgba(200,200,200,0.7);
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: 1px solid black;
  list-style-type: none;
  text-align: center;
  width: 15%;
  
}

#contacts {

border-top: none;
border-bottom: none;


}

.lien1, .lien2, .lien3 {
  text-decoration: none;
  color: #d16666;
  font-family: 'robotoregular', Times, sans-serif;

}

.simplon {
  color: black;

}

footer {
  background: #d16666;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  
}

.beats {
  height: 100px;
  border: 2px solid black;
  border-radius: 60%;
  margin-right: 10px;
  margin-left: 10px;

}

.hugo {
  height: 100px;
  border: 2px solid black;
  margin-right: 10px;
  margin-left: 10px;

}

.snap {
  height: 100px;
  border-radius: 28px;
  border: 2px solid black;
  margin-right: 10px;
  margin-left: 10px;
}

.brands {
  text-align: center;

}

.nav {
  height: 500px;

}

.nav {
  margin-top: -230px;

}

